extends layout

block title
	title Arbybarbie

block body
	body
		.main-page
			.page-header(ng-controller='NavCtrl')
				nav.navbar.navbar-fixed-top(role='navigation')
					.navbar-inner
						.container
							a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
								span.icon-bar
								span.icon-bar
								span.icon-bar
							a.brand(href='/')
								| Arbybarbie
							.nav-collapse
								ul.nav
									li(ng-repeat='page in navPages', ng-class='{activePage: isActive({{"page.navPath"}})}')
										a(href='{{page.navPath}}')
											| {{page.navDisplay}}
									li.dropdown
										a.dropdown-toggle(href='#', data-toggle='dropdown')
											| Dropdown
											b.caret
										ul.dropdown-menu
											li(ng-repeat='page in navPages')
												a(href='{{page.navPath}}')
													| {{page.navDisplay}}
			.page-body
				ng-view
			.page-footer
