extends layout

block title
	title NewsFeed

block body
	body
		.page-nav(ng-controller='NavCtrl')
			nav.nav-default
				ul
					li(ng-repeat='page in navPages', ng-class='{active: isActive("{{page.navPath}}")}')
						a(href='{{page.navPath}}')
							| {{page.navDisplay}}
		.main-page
			.page-body
				ng-view
			.page-footer
