extends layout

block title
	title Arbybarbie

block body
	body
		nav(class='navbar navbar-default navbar-fixed-top' role='navigation')
			.container
				.navbar-header.page-scroll
					a(class='navbar-brand page-scroll' href='#page-top')
						| Arbybarbie
				.collapse.navbar-collapse.navbar-ex1-collapse
					ul.nav.navbar-nav
						li
							a(class='page-scroll' href='#')
								| Home
						li
							a(class='page-scroll' href='#')
								| Bet Log
