extends layout

block title
	title Arbybarbie

block body
	body
		.page-nav(ng-controller='NavCtrl')
			nav.nav-default
				ul
					li(ng-repeat='page in navPages', ng-class='{active: isActive("{{page.navPath}}")}')
						a(href='#')
							| {{page.navDisplay}}
			.nav-toggle
				| Toggle
			nav.nav-mobile
				ul
					li(ng-repeat='page in navPages', ng-class='{active: isActive("{{page.navPath}}")}')
						a(href='#')
							| {{page.navDisplay}}
		.main-page
			.page-body
				ng-view
			.page-footer
